@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  letter-spacing: -0.011em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color-scheme: dark light;
}

#root {
  width: 100%;
  min-height: 100vh;
}
